USE [master]
GO
/****** Object:  Database [TorneoPesca]    Script Date: 26/8/2024 13:50:30 ******/
CREATE DATABASE [TorneoPesca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TorneoPesca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\TorneoPesca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TorneoPesca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\TorneoPesca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TorneoPesca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TorneoPesca]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 26/8/2024 13:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[ID_Ciudad] [smallint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[ID_Pais] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especie]    Script Date: 26/8/2024 13:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especie](
	[ID_Especie] [smallint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Especie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecieAutorizada]    Script Date: 26/8/2024 13:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecieAutorizada](
	[ID_Torneo] [smallint] NOT NULL,
	[ID_Especie] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Torneo] ASC,
	[ID_Especie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecieCapturada]    Script Date: 26/8/2024 13:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecieCapturada](
	[ID_EspecieCapturada] [smallint] IDENTITY(1,1) NOT NULL,
	[ID_Especie] [smallint] NOT NULL,
	[ID_Torneo] [smallint] NOT NULL,
	[ID_Participante] [smallint] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Peso] [decimal](18, 0) NOT NULL,
	[TAG] [int] NOT NULL,
	[HoraCaptura] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EspecieCapturada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscriptos]    Script Date: 26/8/2024 13:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscriptos](
	[ID_Participante] [smallint] NOT NULL,
	[ID_Torneo] [smallint] NOT NULL,
	[FechaInscripcion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Participante] ASC,
	[ID_Torneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 26/8/2024 13:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[ID_Pais] [smallint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaisParticipante]    Script Date: 26/8/2024 13:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaisParticipante](
	[ID_PaisParticipante] [smallint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PaisParticipante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participante]    Script Date: 26/8/2024 13:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participante](
	[ID_Participante] [smallint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[DNI] [varchar](8) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[ID_PaisParticipante] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Participante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torneo]    Script Date: 26/8/2024 13:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torneo](
	[ID_Torneo] [smallint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](300) NOT NULL,
	[CostoInscripcion] [decimal](18, 0) NOT NULL,
	[Premio] [decimal](18, 0) NOT NULL,
	[FechaTorneo] [date] NOT NULL,
	[ID_Participante] [smallint] NOT NULL,
	[IDCiudad] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Torneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD FOREIGN KEY([ID_Pais])
REFERENCES [dbo].[Pais] ([ID_Pais])
GO
ALTER TABLE [dbo].[EspecieAutorizada]  WITH CHECK ADD FOREIGN KEY([ID_Especie])
REFERENCES [dbo].[Especie] ([ID_Especie])
GO
ALTER TABLE [dbo].[EspecieAutorizada]  WITH CHECK ADD FOREIGN KEY([ID_Torneo])
REFERENCES [dbo].[Torneo] ([ID_Torneo])
GO
ALTER TABLE [dbo].[EspecieCapturada]  WITH CHECK ADD FOREIGN KEY([ID_Especie])
REFERENCES [dbo].[Especie] ([ID_Especie])
GO
ALTER TABLE [dbo].[EspecieCapturada]  WITH CHECK ADD FOREIGN KEY([ID_Participante])
REFERENCES [dbo].[Participante] ([ID_Participante])
GO
ALTER TABLE [dbo].[EspecieCapturada]  WITH CHECK ADD FOREIGN KEY([ID_Torneo])
REFERENCES [dbo].[Torneo] ([ID_Torneo])
GO
ALTER TABLE [dbo].[Inscriptos]  WITH CHECK ADD FOREIGN KEY([ID_Participante])
REFERENCES [dbo].[Participante] ([ID_Participante])
GO
ALTER TABLE [dbo].[Inscriptos]  WITH CHECK ADD FOREIGN KEY([ID_Torneo])
REFERENCES [dbo].[Torneo] ([ID_Torneo])
GO
ALTER TABLE [dbo].[Participante]  WITH CHECK ADD FOREIGN KEY([ID_PaisParticipante])
REFERENCES [dbo].[PaisParticipante] ([ID_PaisParticipante])
GO
ALTER TABLE [dbo].[Torneo]  WITH CHECK ADD FOREIGN KEY([ID_Participante])
REFERENCES [dbo].[Participante] ([ID_Participante])
GO
ALTER TABLE [dbo].[Torneo]  WITH CHECK ADD FOREIGN KEY([IDCiudad])
REFERENCES [dbo].[Ciudad] ([ID_Ciudad])
GO
USE [master]
GO
