USE [master]
GO
/****** Object:  Database [Libreria]    Script Date: 26/8/2024 09:50:34 ******/
CREATE DATABASE [Libreria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Libreria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\Libreria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Libreria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\Libreria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Libreria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Libreria]
GO
/****** Object:  Table [dbo].[Autores]    Script Date: 26/8/2024 09:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autores](
	[ID_Autor] [smallint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[PaisNacimiento] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Autor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 26/8/2024 09:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[ID_Categoria] [smallint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 26/8/2024 09:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID_Clientes] [smallint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[DNI] [varchar](8) NOT NULL,
	[Mail] [varchar](100) NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[Telefono] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Clientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 26/8/2024 09:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[ID_Libro] [smallint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[FechaPublicacion] [datetime] NOT NULL,
	[ID_Autor] [smallint] NOT NULL,
	[ID_Categoria] [smallint] NOT NULL,
	[PrecioUnitario] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros_X_Autores]    Script Date: 26/8/2024 09:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros_X_Autores](
	[ID_Libro] [smallint] NOT NULL,
	[ID_Autor] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reseña_X_Libro]    Script Date: 26/8/2024 09:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reseña_X_Libro](
	[ID_Reseña] [smallint] IDENTITY(1,1) NOT NULL,
	[Puntaje] [tinyint] NOT NULL,
	[Comentarios] [varchar](200) NOT NULL,
	[Fecha_Puntaje] [date] NOT NULL,
	[ID_Clientes] [smallint] NOT NULL,
	[ID_Libro] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Reseña] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta_Libro]    Script Date: 26/8/2024 09:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta_Libro](
	[ID_Venta] [smallint] IDENTITY(1,1) NOT NULL,
	[FechaAdquisicion] [datetime] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioTotal] [money] NOT NULL,
	[ID_Clientes] [smallint] NOT NULL,
	[ID_Libro] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([ID_Autor])
REFERENCES [dbo].[Autores] ([ID_Autor])
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Categoria] ([ID_Categoria])
GO
ALTER TABLE [dbo].[Libros_X_Autores]  WITH CHECK ADD FOREIGN KEY([ID_Autor])
REFERENCES [dbo].[Autores] ([ID_Autor])
GO
ALTER TABLE [dbo].[Libros_X_Autores]  WITH CHECK ADD FOREIGN KEY([ID_Libro])
REFERENCES [dbo].[Libro] ([ID_Libro])
GO
ALTER TABLE [dbo].[Reseña_X_Libro]  WITH CHECK ADD FOREIGN KEY([ID_Clientes])
REFERENCES [dbo].[Clientes] ([ID_Clientes])
GO
ALTER TABLE [dbo].[Reseña_X_Libro]  WITH CHECK ADD FOREIGN KEY([ID_Libro])
REFERENCES [dbo].[Libro] ([ID_Libro])
GO
ALTER TABLE [dbo].[Venta_Libro]  WITH CHECK ADD FOREIGN KEY([ID_Clientes])
REFERENCES [dbo].[Clientes] ([ID_Clientes])
GO
ALTER TABLE [dbo].[Venta_Libro]  WITH CHECK ADD FOREIGN KEY([ID_Libro])
REFERENCES [dbo].[Libro] ([ID_Libro])
GO
ALTER TABLE [dbo].[Reseña_X_Libro]  WITH CHECK ADD CHECK  (([Puntaje]>=(1) AND [Puntaje]<=(5)))
GO
USE [master]
GO
